<html>
	<head>
		<style>
			.control-label{
				float:left !important;
			}
			.span3 {
				position:absolute;
				right:400px;
			}
		</style>
			
		<script type='text/javascript'>
				function validateMe() {
					nameval = document.getElementById('orgname')
					namevalue = nameval.value
					if((namevalue == 'null') || (namevalue == ''))
						{
							document.getElementById('errormsg').innerHTML = 'Please Fill the Name'
								return false;
						}
						else {
							document.getElementById('errormsg').innerHTML = ''
							return true;
						}
					}			
		</script>
	</head>
	<body>
		<div class="container">
			<div class="span12">
				<%= form_tag({:action => "orgsave" }, :id => "form_id", :name => 'organization', :class => 'form-horizontal', :onsubmit => 'return validateMe()')  do %>
				<div class="control-group">
					<label class="control-label" for="organization_name_count">*Organization Name:</label>
					<div class="controls">
					  <input type="text" name ="organization[name]" id ="orgname" placeholder="Org Name"> <span id='errormsg'> </span>
					</div>
			    </div>
				<div class="control-group">
					<label class="control-label" for="organization_city">City</label>
					<div class="controls">
					  <input type="text" name ='organization[city]' id="orgcity" placeholder="City">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="organization_state">State</label>
					<div class="controls">
					  <input type="text" name ='organization[state]' id="orgstate" placeholder="State">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="organization_phnum">Phone Number</label>
					<div class="controls">
					  <input type="text" name ='organization[phnum]' id="orgph" placeholder="Phone Number">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="organization_email">Email</label>
					<div class="controls">
					  <input type="text" name ='organization[email]' id="orgemail" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="organization_website">Website</label>
					<div class="controls">
					  <input type="text" name ='organization[website]' id="orgweb" placeholder="WebSite">
					</div>
				</div>
			<div class="pull-left span3">
				<%= submit_tag "Save", :id => "uploadid", :class => 'btn btn-primary'%>
			</div>
	<% end %>
<br />

<%= link_to 'Back', root_path%>
 	</body>
</html>

